/* PHASE 0: Reset */

html, head, body, header,
nav, h1, a, ul, li, main,
section, p, footer, small {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font: inherit;
  color: inherit;
  height: inherit;
  text-align: inherit;
  text-decoration: inherit;
  vertical-align: baseline;
  box-sizing: inherit;
  background: transparent;
}

a {
  vertical-align: baseline;
}

header, nav, main, section,
footer, small {
  display: block;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

/*ul {
  list-style: none;
}*/
