#logo-link {
  height: 35px;
  width: 176px;
}

.main-container {
  display: block;
  height: 100%
}

header {
  display: flex;
  height: 31px;
  width: 930px;
  padding: 20px 40px;
  max-width: 1010px;
  margin: 0 auto;
  margin-bottom: 5px;
  justify-content: space-between;
}

a#hikerGram-text {
  position: relative;
  top: -7px;
  left: -111px;
  background: white;
  font-size: 30px;
  font-family: sans-serif;
  font-weight: 600;
}

input#search-input {
  border: solid 1px #dbdbdb;
  border-radius: 3px;
  color: #262626;
  font-size: 14px;
  outline: none;
  padding: 3px 10px 3px 26px;
  z-index: 2;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-weight: 300;
}

.small-icon {
  height: 28px;
  width: 28px;
  align-self: flex-end;
  display: flex;
  cursor: pointer;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 127px;
  align-items: flex-end;
  margin-left: 180px;
}

.border-top {
  border-top: 1px solid #e4d3d3;
}

.feed {
  background-color: #fafafa;
}

#search-glass {
  height: 10px;
  width: 10px;
  position: relative;
  top: -24px;
  left: 9px;
}
