article {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 0 auto 30px;
  max-width: 935px;
  width: 100%;
  padding-top: 60px;
}

.profile-image {
  height: 150px;
  max-height: 150px;
  max-width: 150px;
  left: 0;
  position: relative;
  top: -1px;
  width: 100%;
  border-radius: 100px;
  border: 1px solid;
  object-fit: cover;
}
.profile-top {
  display: flex;
  max-width: 935px;
  max-height: 152px;
  justify-content: space-between;
  margin-bottom: 44px;
}

.profile-img-container {
  display: flex;
  justify-content: center;
  max-width: 291.67px;
  width: 100%
}

.profile-top-info {
  display: flex;
  max-width: 613.33px;
  width: 100%;
  flex-direction: column;
}

.username {
  font-size: 34px;
  font-weight: 300;
  font-family: sans-serif;
  margin-right: 15px;
}

.settings-button {

}

.user-nav {
  display: flex;
  justify-content: flex-start;
}

.data-num {
  font-weight: 600;
  font-size: 17px;
}

.small-size {
  font-size: 17px;
}

.user-data {
  display: flex;
}

.bm20 {
  margin-bottom: 20px;
}

.photos-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 935px;
  // width: 1200px;
  list-style-type: none;
}

.square-box {
  max-width: 293px;
  max-height: 293px;
  width: 293px;
  height: 100%;
}

.photos-container img {
  // margin-right: 28px;
  margin-bottom: 28px;
  height: 293px;
  object-fit: cover;

}

.photos-container img:nth-of-type(3n){
  margin-right: 0;
}

// .profile-modal {
//   width: 100%;
//   height: 100%;
// }

.modal-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  max-height: inherit;
}

.mc-photo {
  // max-width: 600px;
  // max-height: 600px;
  object-fit: cover;

  img {
    max-width: 100%;
    // max-height: 100%;
    display: block;
  }
}

.mc-info {
  max-width: 335px;
  width: 100%;
}
